In [1]:
import pandas as pd

## Credit Dataset

In [3]:
credit = pd.read_csv("/Users/emma/Downloads/tmdb_5000_credits.csv")

In [4]:
credit = credit.rename({"movie_id":"id"}, axis = 1)

In [5]:
credit = credit[["id","title", "cast", "crew"]]

In [6]:
credit["crew"] = credit["crew"].apply(eval)
credit["cast"] = credit["cast"].apply(eval)

In [7]:
director = []
for i in range(len(credit["crew"])):
    dir = []
    for j in range(len(credit["crew"][i])):
        if credit["crew"][i][j]["job"] == "Director":
            dir.append(credit["crew"][i][j]["name"])
    director.append(dir)
credit["director"]=director

In [8]:
credit.sample(20)

,id,title,cast,crew,director
3940,670,Oldboy,"[{'cast_id': 13, 'character': 'Oh Dae-su', 'cr...","[{'credit_id': '52fe4267c3a36847f801bd35', 'de...",[Park Chan-wook]
2783,158011,The Call,"[{'cast_id': 4, 'character': 'Jordan Turner', ...","[{'credit_id': '52fe4bd99251416c910e78d1', 'de...",[Brad Anderson]
2423,26602,Summer Catch,"[{'cast_id': 1, 'character': 'Ryan Dunne', 'cr...","[{'credit_id': '52fe450ec3a368484e045d67', 'de...",[Mike Tollin]
639,12133,Step Brothers,"[{'cast_id': 10, 'character': 'Brennan Huff', ...","[{'credit_id': '57695a139251415ca50002ae', 'de...",[Adam McKay]
1742,254473,Brick Mansions,"[{'cast_id': 1, 'character': 'Damien Collier',...","[{'credit_id': '52fe4ebd9251416c9113c123', 'de...",[Camille Delamarre]
1521,24662,Cats Don't Dance,"[{'cast_id': 2, 'character': 'Danny', 'credit_...","[{'credit_id': '56a4c4c5925141524c001bcf', 'de...",[Mark Dindal]
4488,376004,Adulterers,"[{'cast_id': 1, 'character': 'Samuel Deuprey',...","[{'credit_id': '5694d0739251414b67001ae9', 'de...",[H.M. Coakley]
4053,9731,Friday the 13th: A New Beginning,"[{'cast_id': 16, 'character': 'Pam Roberts', '...","[{'credit_id': '52fe4523c3a36847f80bea15', 'de...",[Danny Steinmann]
4420,84178,Black Rock,"[{'cast_id': 1, 'character': 'Sarah', 'credit_...","[{'credit_id': '52fe48de9251416c9109ae59', 'de...",[Katie Aselton]
1664,102362,Dead Man Down,"[{'cast_id': 1, 'character': 'Victor', 'credit...","[{'credit_id': '52fe4a07c3a36847f81b458b', 'de...",[Niels Arden Oplev]
1983,40688,Meet the Deedles,"[{'cast_id': 1, 'character': 'Phil Deedle', 'c...","[{'credit_id': '565ca60e9251415d1f00043b', 'de...",[Steve Boyum]
416,9339,Click,"[{'cast_id': 1, 'character': 'Michael Newman',...","[{'credit_id': '52fe44e9c3a36847f80b1757', 'de...",[Frank Coraci]
3263,37735,Easy A,"[{'cast_id': 1, 'character': 'Olive Penderghas...","[{'credit_id': '578beedec3a3682bb200b2ac', 'de...",[Will Gluck]
66,14160,Up,"[{'cast_id': 4, 'character': 'Carl Fredricksen...","[{'credit_id': '5683b5f8c3a3684be90168e1', 'de...",[Pete Docter]
1592,4105,Black Rain,"[{'cast_id': 1, 'character': 'Nick', 'credit_i...","[{'credit_id': '575ca5e89251412b68000667', 'de...",[Ridley Scott]
1919,133698,Fly Me to the Moon,"[{'cast_id': 2, 'character': 'Isabelle', 'cred...","[{'credit_id': '52fe4bb9c3a368484e1969cb', 'de...",[Pascal Chaumeil]
88,177572,Big Hero 6,"[{'cast_id': 23, 'character': 'Baymax (voice)'...","[{'credit_id': '537534e7c3a3681efb0002b3', 'de...","[Chris Williams, Don Hall]"
3247,225565,That Awkward Moment,"[{'cast_id': 1, 'character': 'Jason', 'credit_...","[{'credit_id': '5640e4cdc3a36814d9000325', 'de...",[Tom Gormican]
180,2503,The Bourne Ultimatum,"[{'cast_id': 8, 'character': 'Jason Bourne', '...","[{'credit_id': '52fe435bc3a36847f804e2c1', 'de...",[Paul Greengrass]
701,10992,Cats & Dogs,"[{'cast_id': 1, 'character': 'Professor Brody'...","[{'credit_id': '52fe43de9251416c75021451', 'de...",[Lawrence Guterman]

In [9]:
actor = []
for i in range(len(credit["cast"])):
    act = []
    for j in range(len(credit["cast"][i])):
            act.append(credit["cast"][i][j]["name"])
    actor.append(act)
credit["actor"]= actor

In [10]:
credit.head()

,id,title,cast,crew,director,actor
0,19995,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weave..."
1,285,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",[Gore Verbinski],"[Johnny Depp, Orlando Bloom, Keira Knightley, ..."
2,206647,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...",[Sam Mendes],"[Daniel Craig, Christoph Waltz, Léa Seydoux, R..."
3,49026,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",[Christopher Nolan],"[Christian Bale, Michael Caine, Gary Oldman, A..."
4,49529,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...",[Andrew Stanton],"[Taylor Kitsch, Lynn Collins, Samantha Morton,..."

## Movie Datset

In [11]:
movie = pd.read_csv("/Users/emma/Downloads/tmdb_5000_movies.csv")

In [12]:
movie.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [13]:
movie = movie[["id", "genres", "keywords", "popularity", "release_date", "vote_average", "vote_count", "runtime"]]

In [14]:
movie["genres"] = movie["genres"].apply(eval)
movie["keywords"] = movie["keywords"].apply(eval)

In [15]:
movie["genres"] [0]

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [16]:
genre = []
for i in range(len(movie["genres"])):
    gen = []
    for j in range(len(movie["genres"][i])):
            gen.append(movie["genres"][i][j]["name"])
    genre.append(gen)
movie["genres_list"] = genre

In [17]:
keys = []
for i in range(len(movie["keywords"])):
    key = []
    for j in range(len(movie["keywords"][i])):
            key.append(movie["keywords"][i][j]["name"])
    keys.append(key)
movie["key"] = keys

In [18]:
movie['year'] = pd.DatetimeIndex(movie['release_date']).year

In [19]:
"True" in movie.year.isnull()

False

In [20]:
movie.head(3)

,id,genres,keywords,popularity,release_date,vote_average,vote_count,runtime,genres_list,key,year
0,19995,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 1463, 'name': 'culture clash'}, {'id':...",150.437577,2009-12-10,7.2,11800,162.0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",2009.0
1,285,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...",139.082615,2007-05-19,6.9,4500,169.0,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",2007.0
2,206647,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 470, 'name': 'spy'}, {'id': 818, 'name...",107.376788,2015-10-26,6.3,4466,148.0,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",2015.0

In [21]:
credit.head(3)

,id,title,cast,crew,director,actor
0,19995,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weave..."
1,285,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",[Gore Verbinski],"[Johnny Depp, Orlando Bloom, Keira Knightley, ..."
2,206647,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...",[Sam Mendes],"[Daniel Craig, Christoph Waltz, Léa Seydoux, R..."

In [22]:
df = credit.merge(movie, how = "left")

In [23]:
df = df.drop(["cast", "crew", "genres", "keywords", "release_date"], axis = 1)

In [24]:
df.to_csv("clean_df.csv")